<title>Definition: hotlist</title>

<body background = "gifs/$-backg.gif"><body text ="#000000" link ="#0000FF" vlink="545454"><h1><center> hotlist</center></h1><hr>
<b>hotlist:</b> A list of frequently used <a href="_web.html">web</a> locations and URLs (Uniform Resource Locators). <i>Note:</i> Hotlists may consist of a) lists of bookmarks accessed by a <a href="_browser.html">browser</a> or b) lists of URLs at a <a href="_web_site.html">web site</a> for linking to other relevant web sites. <i>Synonyms</i> <b> <a href="_bookmark_list.html">bookmark list</a>, <a href="_go_list.html">go list</a>, <a href="_history_list.html">history list</a>.</b> <p> </b></ul><hr>
 <font size = "-1">
 <div align="left"> 
  <p>These definitions were prepared by <a href="http://www.atis.org/0010/index.asp" target="_top">ATIS 
    Committee T1A1</a>. &nbsp;For more information on the work related to these 
    definitions, please visit the <a href="http://www.atis.org" target="_top">ATIS 
    website</a>.</p>
  <p>
    <font size="-1">This <a href="_html.html" target = "main1">HTML</a> version 
    of <a href="t1g2k.html" target="_top">Telecom Glossary 2K</a> was last generated 
    on February 28, 2001. <a href="t1g-forw.html#refs">References</a> can be found 
    in the Foreword.</font></p>
</div>
<hr>
