<center>
	<img src="http://www.ct-info.com/img/ctinfo.gif" width="250"
    height="40"><br><font size="-1"><a href="http://www.ct-info.com/main.asp">Home</a> 
    <a href="http://www.dirtcheapadvertising.com"> |</a> <a href="http://www.ct-info.com/dir/addsite.html">Add URL</a> 
    <a href="http://www.free-website-design.com"> |</a>
  <a href="http://www.connweb.com">Website Hosting</a>  <a href="http://www.discount-long-distance-services.com"> |</a> <a href="http://www.storiesbyemail.com">Stories</a></font>
</center>

<hr size="4" width="80%" color="#FFFF00">


<head>
<title>CT-INFO.COM - Connecticut's Search Engine and Business Directory</title>
</head>
<body vlink="#0000FF" alink="#0000FF">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td width="60">&nbsp;</td>
        <td>

      <table border="0" cellpadding="2" cellspacing="1" width="100%">
       <tr>
        <td align="center" colspan="2">
          <form action="urlsrch.asp" method="POST">
            
            <b>Enter a Maximum of Five Words</b><br>
            <input type="text" size="30" maxlength="50" name="searchstring">
            <input type="hidden" name="start" value="1">
            <input type="submit" value="Search"><br>
            
          </form>
        </td>
        <td align="center">
        <a href="http://www.wunderground.com/US/CT/Hartford.asp">
        <img src="http://banners.wunderground.com/banner/bigtemp/US/CT/Hartford.gif" alt="Click for Hartford, Connecticut Forecast" height=94 width=185 border=0></a>
        </td>
       </tr>
	  </table>
		</td>
	</tr>
</table>

<table>
  <tr>
    <td colspan=2 width="60%" align="center" valign="top"><em><u><strong>Category Search</strong></u></em><div
    align="center"><center><table border="0" cellpadding="4" cellspacing="0" width="100%">
      <tr>
        <td width="50%" align="right"><small><a href="categories.asp?searchstring=Products and Services"><b>Products
        and Services</b></a></small></td>
        <td width="50%"><small><a href="categories.asp?searchstring=Technology and the Internet"><b>Technology
        and the Internet</b></a></small></td>
      </tr>
      <tr>
        <td width="50%" align="right"><small><a href="categories.asp?searchstring=Education and Reference"><b>Education
        and Reference</b></a></small></td>
        <td width="50%"><small><a href="categories.asp?searchstring=News and Media"><b>News and
        Media</b></a></small></td>
      </tr>
      <tr>
        <td width="50%" align="right"><small><a href="categories.asp?searchstring=Government and Regional"><b>Government
        and Regional</b></a></small></td>
        <td width="50%"><small><a href="categories.asp?searchstring=Entertainment and Sports"><b>Entertainment
        and Sports</b></a></small></td>
      </tr>
      <tr>
        <td width="50%" align="right"><small><a href="categories.asp?searchstring=Health"><b>Health</b></a></small></td>
        <td width="50%"><small><a href="categories.asp?searchstring=Society and Culture"><b>Society
        and Culture</b></a></small></td>
      </tr>
      <tr>
        <td width="50%" align="right"><small><a href="categories.asp?searchstring=Travel and Tourism"><b>Travel
        and Tourism</b></a></small></td>
        <td width="50%"><small><a href="categories.asp?searchstring=Miscellaneous"><b>Miscellaneous</b></a></small></td>
      </tr>
    </table>
    </center></div><hr size=4 noshade>
      <table border="0" cellpadding="10" cellspacing="0">
        <tr>
          <td valign="bottom">
      <p align="left">
<em><u><strong>Features</strong></u></em>
      <ul>
      <li>
        <p align="left"><small><a href="http://www.ct-info.com/info/ctbooks.asp">Books About CT</a></small></li>
      <li>
        <p align="left"><small><a href="http://www.free-website-design.com">Free
        Website Design</a></small></li>
      <li>
        <p align="left"><small><a href="http://www.ct-info.com/otherdir/ctsites.asp">Other CT Sites</a></small></li>
      <li>
        <p align="left"><small><a href="http://www.ct-info.com/info/howto.asp">FAQ/Help</a></small></li>
      </ul>
          </td>
          <td valign="bottom">
      <ul>
      <li>
        <p align="left"><small><a href="http://www.ct-info.com/info/awards.asp">Awards We've Won</a></small></li>
      <li>
        <p align="left"><small><a href="http://www.ct-info.com/otherdir/wwwsrch.asp">Search Web</a></small></li>
      <li>
        <p align="left"><small><a href="http://www.ct-info.com/contact.asp">Contact Us</a></small></li>
      <li>
        <p align="left"><small><a href="http://www.one-and-only.com/menu1.asp?MID=96848">Personals</a></small></li>
      <li>
        <p align="left"><small><a href="http://www.ct-info.com/shopping/shopping.asp">Shopping</a> </small></li>
      </ul>
          </td>
        </tr>
      </table>
    </td>

    <td>
<b><u><i>Latest Connecticut Headlines:</i></u><br></b>
<!-- Start Of Moreover.com News Javascript Code -->
  
<head>
<style type='text/css'>
	
	.morehl {
		font-family: Geneva, Arial, sans-serif !important;
		font-size: 11px !important;
		color: #003399 !important;
		font-weight: bold !important;
		font-style: normal !important;
		text-decoration: underline !important;
	}	
	
	A:link.morehl, A:vlink.morehl, A:alink.morehl {
		color: #003399 !important;
	}
	
	.moresrc {
		font-family: Geneva, Arial, sans-serif !important;
		font-size: 11px !important;
		color: #6699cc !important;
		font-weight: normal !important;
		font-style: normal !important;
		text-decoration: none !important;
	}
	
	A:link.moresrc, A:vlink.moresrc, A:alink.moresrc {
		color: #6699cc !important;
	}
	
	.moreti {
		font-family: Geneva, Arial, sans-serif;
		font-size: 11px;
		color: #6699cc;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
	}
	
	.morehlt {
		font-family: Geneva, Arial, sans-serif;
		font-size: 11px;
		color: #003399 !important;
		font-weight: bold;
		font-style: normal;
		text-decoration: none;
	}	
	</style>
  
  <SCRIPT LANGUAGE="Javascript">
  <!--
  // the array global_article is used to allow multiple categories
  var global_article = new Array();
  var global_article_counter = 0;
  var article = null;
  var early_exit = true;
  var moreover_text = 0;
  
  function load_wizard()
    {
    
    var newwin = window.open("","clone","resizable,scrollbars");
    document.forms.moreover_clone.submit();
    return true;
    }
  // -->
  
  </SCRIPT>
  <SCRIPT LANGUAGE="JavaScript" src="http://p.moreover.com/cgi-local/page?query=Courant&n=5&o=js">
  </SCRIPT>
  <SCRIPT LANGUAGE="Javascript">
  <!--
  // load global_article array with articles from category
  if (article != null && (article.length > 0))
    {
    early_exit = false;
    for (var article_counter = 0; article_counter < article.length; article_counter++)
      {
      global_article[global_article_counter] = article[article_counter];
      global_article[global_article_counter].url += "&w=2158461";
      
      global_article[global_article_counter].url += "' TARGET='_blank";
      global_article[global_article_counter].document_url += "' TARGET='_blank";
      global_article_counter++;
      }
    }
  // -->
  </SCRIPT>
  <SCRIPT LANGUAGE="Javascript">
  <!--
  if (global_article.length == 0)
      {
      if (early_exit)
        {
        document.write("<CENTER>Please reload this page to view the headlines</CENTER>");
        }
      else
        {
        document.write("<CENTER>Sorry, no articles matched your search criteria</CENTER>");
        early_exit = true;
        }
      }
  // -->
  </SCRIPT>
</head>

  <table cellpadding=4 cellspacing=0 border=0 width='300'><tr bgcolor='#ffffff'><td>
  
  
  <SCRIPT LANGUAGE="Javascript">
  <!--
  if (!early_exit)
  {
  var wizard_brand			= "moreover";
  var webfeed_heading 			= "";
  var width 				= "300";
  var numberofarticles 			=  global_article.length;
  var cluster_border 			= "0";
  var time_display 			= "Yes";
  var cell_spacing 			= "0";
  var cell_padding 			= "1";
  var time 					=  new Array(global_article.length);
 
  
  // Start loop for articles
  for (var counter=0; counter < numberofarticles; counter++)
    {
	
	if ((counter == (global_article.length - 1)) && moreover_text == 1) 
      {  
      time_display = "No";
      }
	
	// Print out the headline
    document.write("<a href='"+global_article[counter].url+"' class='morehl'>");
    document.write(global_article[counter].headline_text+"...</a><br>");
	
    
      // Print out the source
        if ((counter != (global_article.length - 1)) || moreover_text != 1)
        {
		
		document.write("<A HREF='"+global_article[counter].document_url+"' + class='moresrc'>");
        document.write(global_article[counter].source+"</A>");
        
		}
    
	
    // Print out reg/sub/prem if appropriate
    if (global_article[counter].access_status == "sub" || global_article[counter].access_status == "reg" || global_article[counter].access_status == "prem")
      {
      document.write("<span class='moreti'>&nbsp;</span><A HREF='"+global_article[counter].access_registration+"' class='moresrc'>");
 	  document.write(global_article[counter].access_status+"</A>");
      }
	  
    // Print out the harvest time
    if (time_display == "Yes")
      {
      // Make a new date object
      time[counter] = new Date(global_article[counter].harvest_time);
      time[counter].setHours(time[counter].getHours() - (time[counter].getTimezoneOffset() / 60 ));
	  document.write("<span class='moreti'> &nbsp;"+time[counter].toString()+"<br>&nbsp;<br></span>");
      } 
    else
      {
      document.write("<br>&nbsp;<br>");
      }

    } // End of article loop
  

  // Start of clone button code //
  // NOTE: DO NOT REMOVE any of the code in this section //
  document.write("<FORM METHOD='POST' ACTION='http://www.moreover.com/cgi-local/wizard_welcome.pl' target='clone' name='moreover_clone'>");
  document.write("<INPUT TYPE='hidden' NAME='parent_code' VALUE='2158461'>");
  document.write("<INPUT TYPE='hidden' NAME='clone_system' VALUE='c'>");
  document.write("<INPUT TYPE='hidden' NAME='system' VALUE='c'>");
  document.write("<INPUT TYPE='hidden' NAME='heading_font_size' VALUE=''><INPUT TYPE='hidden' NAME='headline_bgcolor' VALUE='ffffff'>")
  document.write("<INPUT TYPE='hidden' NAME='webfeed_heading' VALUE=''><INPUT TYPE='hidden' NAME='cluster_width' VALUE='300'>")
  document.write("<INPUT TYPE='hidden' NAME='cluster_name' VALUE='query=Courant&o=js'><INPUT TYPE='hidden' NAME='source_time_underline' VALUE='false'>")
  document.write("<INPUT TYPE='hidden' NAME='time_display' VALUE='Yes'><INPUT TYPE='hidden' NAME='heading_display' VALUE='Yes'>")
  document.write("<INPUT TYPE='hidden' NAME='headline_fgcolor' VALUE='003399'><INPUT TYPE='hidden' NAME='cluster_cellspacing' VALUE='0'>")
  document.write("<INPUT TYPE='hidden' NAME='number_of_headlines' VALUE='5'><INPUT TYPE='hidden' NAME='source_time_fgcolor' VALUE='6699cc'>")
  document.write("<INPUT TYPE='hidden' NAME='headline_font_size' VALUE='11'><INPUT TYPE='hidden' NAME='search_keywords' VALUE='Courant'>")
  document.write("<INPUT TYPE='hidden' NAME='source_time_font_size' VALUE='11'><INPUT TYPE='hidden' NAME='headline_italic' VALUE='false'>")
  document.write("<INPUT TYPE='hidden' NAME='headline_font' VALUE='Geneva, Arial, sans-serif'><INPUT TYPE='hidden' NAME='source_time_italic' VALUE='false'>")
  document.write("<INPUT TYPE='hidden' NAME='source_time_font' VALUE='Geneva, Arial, sans-serif'><INPUT TYPE='hidden' NAME='wizard_brand' VALUE='moreover'>")
  document.write("<INPUT TYPE='hidden' NAME='cluster_cellpadding' VALUE='1'><INPUT TYPE='hidden' NAME='headline_bold' VALUE='true'>")
  document.write("<INPUT TYPE='hidden' NAME='cluster_border' VALUE='0'><INPUT TYPE='hidden' NAME='source_time_bold' VALUE='false'>")
  document.write("<INPUT TYPE='hidden' NAME='headline_underline' VALUE='true'><INPUT TYPE='hidden' NAME='cluster_layout' VALUE='<BR>'>")

  document.write("</FORM>");
  // End of clone button code //

  // ************************************************************************************
  // This code is subject to the copyright and warranty restrictions detailed at 
  // http://www.moreover.com/wizard_copyright.html
  // Copyright 2000 Moreover.com Inc. All rights reserved.
  // *************************************************************************************
  } 
  // -->
  </SCRIPT>
<SCRIPT LANGUAGE="Javascript" SRC="http://p.moreover.com/dr/wizard/wizard_text.js"></SCRIPT>
  </td></tr></table>
<!-- End Of Moreover.com News Javascript Code -->

</td>
</tr>

</table>

<p align="center"><a href="http://www.ct-info.com/dir/addsite.html"><em><strong>Click Here To Add Your Site For FREE</strong></em></a></p>
<p align="center"><a href="http://www.ct-info.com/info/put.asp"><em><strong>Click Here To Learn How To Put CT-INFO on your site.</strong></em></a></p>
<p></p>
<hr size="4" width="80%" color="#FFFF00">
<p align="center">
<a href="http://www.ct-info.com/main.asp"><font size="2" color="#000000">Search CT</font></a> |
<a href="http://www.free-website-design.com"><font size="2" color="#000000">Free
Website Design</font></a> | 
<a href="http://www.ct-info.com/info/ctbooks.asp"><font size="2" color="#000000">Books About CT</font></a> | 
<a href="http://www.ct-info.com/otherdir/wwwsrch.asp"><font size="2" color="#000000">Search Web</font></a> | 
<a href="http://www.ct-info.com/info/put.asp"><font size="2" color="#000000">Link to CT-INFO</font></a> | 
<a href="http://www.ct-info.com/info/awards.asp"><font size="2" color="#000000">CT-INFO Awards</font></a><br>
<a href="http://www.ct-info.com/shopping/shopping.asp"><font size="2" color="#000000">Shopping</font></a> |
<a href="http://www.ct-info.com/otherdir/ctsites.asp"><font size="2" color="#000000">Other CT Sites</font></a> |
<a href="http://www.ct-info.com/links.htm"><font size="2" color="#000000">Other Sites</font></a> | 
<a href="http://www.ct-info.com/info/advert.asp"><font size="2" color="#000000">Advertise on CT-INFO</font></a> | 
<a href="http://www.ct-info.com/contact.asp"><font size="2" color="#000000">Contact Us</font></a> | 
<a href="http://www.ct-info.com/info/howto.asp"><font size="2" color="#000000">Help/FAQ</font></a>
</p>
<p align="center"><font color="#000000" size="1"><em><strong>
?1996-2000 DLD2000.com, LLC</strong></em></font><i><font size="1"><br>
Hosted by DLD2000.com, LLC, offering <a href="http://www.dld2000.com">discount long distance services</a></font></i></p>

</body>
